<div class="container" [routerLink]="['/song',song.id]">
  <button *ngIf="showAddIcon" (click)="playlistSelectionModal.openModal(); $event.stopPropagation();">
    <img src="assets/add.png" alt="add icon">
  </button>
  <button *ngIf="!showAddIcon" (click)="removeFromPlaylist()">
    <img src="assets/remove.png" alt="remove icon">
  </button>
  <div class="name">
    <div class="text-container">
      <p>{{ song.title }}</p>
    </div>
  </div>

  <div class="description" *ngIf="showDescription">
    <p class="artist">{{ song.artist.name }}</p>
    <p class="album">{{ song.album.title }}</p>
  </div>
</div>

<app-playlist-selection-modal [songId]="song.id" #playlistSelectionModal></app-playlist-selection-modal>
