.container {
  background-color: #212121;
  color: aliceblue;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.navbar{
  height: 100%;
  width: 15rem;
}

.component{
  height: 100%;
  width: 90%;
  margin-left: 1rem;
}

h1{
  margin-top: 1rem;
  text-align: center;
  font-size: 2,5rem;
}


