.container{
  width: 100%;
}

.small_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.card{
  width: 9%;
}

h1{
  font-size: 2rem;
  font-weight: 500;
}
