<div class="container">
  <div class="artists">
    <h1>Artistes</h1>
    <div class="small_container">
      <app-artist-card class="card"></app-artist-card>
      <app-artist-card class="card"></app-artist-card>
      <app-artist-card class="card"></app-artist-card>
      <app-artist-card class="card"></app-artist-card>
      <app-artist-card class="card"></app-artist-card>
      <app-artist-card class="card"></app-artist-card>
      <app-artist-card class="card"></app-artist-card>
      <app-artist-card class="card"></app-artist-card>
    </div>
  </div>
  <div class="songs">
    <h1>Musiques</h1>
    <div class="small_container">
      <app-song-card class="card"></app-song-card>
      <app-song-card class="card"></app-song-card>
      <app-song-card class="card"></app-song-card>
      <app-song-card class="card"></app-song-card>
      <app-song-card class="card"></app-song-card>
      <app-song-card class="card"></app-song-card>
      <app-song-card class="card"></app-song-card>
      <app-song-card class="card"></app-song-card>
    </div>
  </div>
  <div class="playlists">
    <h1>Albums</h1>
    <div class="small_container">
      <app-album-card class="card"></app-album-card>
      <app-album-card class="card"></app-album-card>
      <app-album-card class="card"></app-album-card>
      <app-album-card class="card"></app-album-card>
      <app-album-card class="card"></app-album-card>
      <app-album-card class="card"></app-album-card>
      <app-album-card class="card"></app-album-card>
      <app-album-card class="card"></app-album-card>
    </div>
  </div>
</div>
