<div class="container">
  <div class="artists">
    <h1>Artistes</h1>
      <div class="small_container">
        <div *ngFor="let artist of artists">
          <app-artist-card class="card" [artist]="artist"></app-artist-card>
        </div>
      </div>
  </div>
  <div class="songs">
    <h1>Musiques</h1>
    <div class="small_container">
      <div *ngFor="let song of songs">
        <app-song-card class="card" [song]="song"></app-song-card>
      </div>
    </div>
  </div>
  <div class="playlists">
    <h1>Albums</h1>
    <div class="small_container">
      <div *ngFor="let album of albums">
        <app-album-card class="card" [album]="album"></app-album-card>
      </div>
    </div>
  </div>
</div>
